<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="notice">

<insert id="create">
insert into tbl_notice(title,content,writer)
values(#{title},#{content},#{writer})
</insert>

<select id="read" resultType="NoticeVO">
select
	bno, title, content, writer, regdate, viewcnt, replycnt
from
	 tbl_notice
where bno=#{bno}
</select>

<update id="update">
update tbl_notice set title=#{title}, content=#{content}
where bno=#{bno}
</update>

<delete id="delete">
delete from tbl_notice where bno=#{bno}
</delete>

<select id="listAll" resultType="NoticeVO">
<![CDATA[
select
	bno, title, content, writer, regdate, viewcnt, replycnt
from
	tbl_notice
where bno > 0
order by bno desc,regdate desc
]]>
</select>

<select id="listPage" resultType="NoticeVO">
<![CDATA[
select
	bno,title,content,writer,regdate,viewcnt
from
	tbl_notice
where bno>0
order by bno desc,regdate desc
limit #{page},10
]]>
</select>

<select id="listCriteria" resultType="NoticeVO">
<![CDATA[
select
	bno,title,content,writer,regdate,viewcnt, replycnt
from
	tbl_notice
where bno>0
order by bno desc,regdate desc
limit #{pageStart},#{perPageNum}
]]>
</select>

<select id="countPaging" resultType="int">
<![CDATA[
select
	count(bno)
from
	tbl_notice
where
	bno > 0
]]>
</select>

<sql id="search">
 <if test="searchType != null" > 
   <if test="searchType == 't'.toString()">
     and title like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'c'.toString()">
     and content like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'w'.toString()">
     and writer like CONCAT('%', #{keyword}, '%')
   </if>     
   <if test="searchType == 'tc'.toString()">
     and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'cw'.toString()">
     and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'tcw'.toString()">
     and (   title like CONCAT('%', #{keyword}, '%') 
           OR 
             content like CONCAT('%', #{keyword}, '%') 
           OR 
             writer like CONCAT('%', #{keyword}, '%'))
   </if>              
 </if>  
</sql>

<!-- 중간에 게시판 번호가 삭제되면 게시글 번호를 초기화시켜서 인덱싱 -->
<select id="listSearch" resultType="NoticeVO">
<![CDATA[  
  select * 
  from tbl_notice 
  where bno > 0 
]]>  

  <include refid="search"></include>
  
<![CDATA[    
  order by bno desc
  limit #{pageStart}, #{perPageNum}
]]>  
</select>
  
<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(bno) 
  from tbl_notice 
  where bno > 0 
]]>
  <include refid="search"></include>
 
</select>

<update id="updateReplyCnt">
	update tbl_notice set replycnt=replycnt+#{amount} 
	where bno=#{bno}
</update>

<update id="updateViewCnt">
update tbl_notice set viewcnt=viewcnt+1
where bno=#{bno}
</update>

<insert id="addAttach">
insert into tbl_attach_notice(fullname, bno) values (#{fullName}, LAST_INSERT_ID())
</insert> 

<select id="getAttach" resultType="string">
select fullname from tbl_attach_notice where bno = #{bno} order by regdate
</select>

<delete id="deleteAttach">
delete from tbl_attach_notice where bno=#{bno}
</delete>

<insert id="replaceAttach">
insert into tbl_attach_notice(fullname,bno) values(#{fullName},#{bno})
</insert>

<update id="replyUpdate">
<![CDATA[
update tbl_notice set replycnt=(select count(rno) from tbl_reply where bno=tbl_notice.bno) where bno>0
]]>
</update>

<!-- 중간에 게시글이 삭제되면 번호 초기화후 인덱싱 -->
<update id="boardNumReset">
<![CDATA[
ALTER TABLE tbl_notice AUTO_INCREMENT=1;
SET @COUNT = 0;
UPDATE tbl_notice SET tbl_notice.bno = @COUNT:=@COUNT+1;
]]>
</update>
<!-- 이미지 테이블을 카운트해서 게시판에 갯수 업데이트-->
<update id="updateFile">
<![CDATA[
update tbl_notice set filecnt=(select count(bno) from tbl_attach_notice where bno=tbl_notice.bno) where bno>0
]]>
</update>
</mapper>