<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<select id="login" resultType="UserVO">
	select 
		mid, mpwd
	from
		ipo_member
	where
		mid=#{mid} AND mpwd=#{mpwd}
	</select>

  <update id="keepLogin" >
  update ipo_member set sessionKey = #{sessionId}, sessionLimit = #{next} where mid = #{mid}
  </update>

	<select id="checkUserWithSessionKey" resultType="UserVO">
	select * from ipo_member where sessionKey = #{value}  and sessionlimit > now()
	</select>	
	
	<insert id="register">
	insert into ipo_member(mid,mpwd,mname,mtel,memail,mgender,mage,enabled,authority)
	values(#{mid},#{mpwd},#{mname},#{mtel},#{memail},#{mgender},#{mage},1,'ROLE_USER')
	</insert>
	
	 <!-- 아이디 중복 확인 -->
  	<select id="selectUser" resultType="UserVO">
  		SELECT 
  			mid,mpwd,mname,mtel,memail,mgender,mregdate,mage,mupdatedate				       
  		FROM
  			ipo_member
  		WHERE
  			mid=#{mid} 
  	</select>
  	<!-- 회원 정보 수정 -->
  	<update id="updateUser">
  	update
  		ipo_member
  	set
  		mpwd=#{mpwd},
  		mname=#{mname},
  		mtel=#{mtel},
  		memail=#{memail},
  		mupdatedate=now()
  	where
  		mid=#{mid}
  	</update>
  	<!-- 회원 탈퇴 -->

</mapper>