.section-background{
	background: url('../images/newyork_banner1.jpg');
}
.about{
	background: #fff;
}
.about-detail{
	font-size: 14px;
	color: #000000;
	font-weight: 400;
	top: 50%;
	transform: translateY(60%);
	/*position: absolute;*/
	/*padding-left: 40px;*/
	/*line-height: 22px;*/
}
.section-item-title, .section-item-detail{
	text-align: center;
}
.about .row:nth-child(4){
	margin-top: 90px;
}
.team{
	background: #fff;
}
.team-item{
	background: #f3f3f3;
	margin-bottom: 50px;
	text-align: center;
}
.team-img{
	width: 100%;
}
.team-item-name{
	font-size: 17px;
	margin-bottom: 7px;
	padding-top: 20px;
}
.team-item-id{
	color: #a3a2a2;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
